<html>
<body>
  <center>
    <h1>Welcome <%= username %></h1>
    <h1>Role: <%= role %></h1>
    <%if (role === "Guest") { %>
      <a href="/login/">login</a>
    <% } else { %>
      <a href="/logout/">logout</a>
    <% } %>

    <h3>Stories</h3>

    <% for(var i=0; i<stories.length; i++) { %>
      <%if (stories[i].public || role === "Subscriber" || stories[i].author === username) { %>
        <a href='/<%= stories[i].file %>'><%= stories[i].title %></a>
      <% } else { %>
        <%= stories[i].title %>
      <% } %>
      <%if (stories[i].author === username && role === "Reporter") { %>
        &nbsp;&nbsp;<a href='/editPage?name=<%= stories[i].file %>'>Edit</a>&nbsp;&nbsp;<a href='/delete?name=<%= stories[i].file %>'>Delete</a><br>
      <% } %>
      <br>
    <% } %>

  </center>
  <%if (role === "Reporter") { %>
    <br><a href='/addStoryPage/'>Create New Story</a><br>
  <% } %>
</body>
</html>
