<html>
<body>
  <center>
    <h1>Welcome <%= username %></h1>
    <h1>Role: <%= role %></h1>
    <%if (role === "Guest") { %>
      <a href="/login/">login</a>
    <% } else { %>
      <a href="/logout/">logout</a>
    <% } %>

    <h1>Buy <%= story.Title %></h1>

    <form action="/payment/">
      Email: <input type="email" name="email" value="<%= email %>"><br>
      Address: <input type="text" name="address" value="<%= address %>"><br>
      <input type="submit" name="action" value="Submit">
      <input type="submit" name="action" value="Save"><br>
      <input type="hidden" name="story" value='<%- JSON.stringify(story) %>'>
    </form>

    <form action="/cancel/">
      <input type="submit" value="Cancel"><br>
    </form>

  </center>
</body>
</html>
