<html>
<body>
  <center>
    <h1>Welcome <%= username %></h1>
    <h1>Role: <%= role %></h1>
    <%if (role === "Guest") { %>
      <a href="/login/">login</a>
    <% } else { %>
      <a href="/logout/">logout</a>
    <% } %>

    <h1>Confirm order of <%= session.story.Title %></h1>

    Email: <%= session.email %><br>
    Address: <%= session.address %><br>
    Billing Address: <%= session.billingAddress %><br>
    CreditCard: <%= session.creditCard %><br>

    <form action="/confirmed/">
      <input type="submit" name="action" value="Submit">
      <input type="submit" name="action" value="Save"><br>
    </form>

    <form action="/cancel/">
      <input type="submit" value="Cancel"><br>
    </form>

  </center>
</body>
</html>
